<div class="sde-cb-anc is-hp-gold">

  <div class="sde-cb-page-title sd-band">
    <h1>{{localize "SDE.charBuilder.step.hpGold"}}</h1>
  </div>

  <div class="sde-cb-hp-gold">
    <section data-cb-vital="hp">
      <h3 class="sde-cb-origin-head sd-band sd-band--tight">{{localize "SDE.charBuilder.step.hp"}}</h3>
      {{> sde-cb-hp step=step.hp}}
    </section>
    <section data-cb-vital="gold">
      <h3 class="sde-cb-origin-head sd-band sd-band--tight">{{localize "SDE.charBuilder.step.gold"}}</h3>
      {{> sde-cb-gold step=step.gold}}
    </section>
  </div>

</div>
