<div class="sde-cb-step sde-cb-placeholder">
  <h2 class="sde-cb-step-title">{{step.title}}</h2>
  <div class="sde-cb-coming-soon">
    <i class="fa-solid fa-hammer"></i>
    <p>{{localize "SDE.charBuilder.comingSoon"}}</p>
  </div>
</div>
